*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
body{
    background-color: rgb(197, 215, 238);
}
header{
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    padding: 2rem;
    background-color: rgb(49, 109, 188);
    color: rgb(197, 215, 238);
}

h1{
    border-bottom: #cef2ff solid ;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.formulario{
    padding: 4rem;
}
form{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    justify-content: center;
    border: rgb(49, 109, 188) solid 0.3rem;
    border-radius: 1.3rem;
    background-color: #cef2ff;
}
form input{
    justify-content: space-around;
    font-size: 1.5rem;
    margin: 1rem;
    background-color: #cef2ff;
    border: none;
    border-bottom: rgb(49, 109, 188) solid;
    color: rgb(49, 109, 188);
}

button{
    margin: 0.8rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    background-color: rgb(49, 109, 188);
    color: #cef2ff;
    cursor: pointer;
    border-radius: 0.3rem;
    border: none;
}

.lista{
    border-left: rgb(49, 109, 188) solid;
    padding: 1rem 7rem;
    margin: 2rem;

}
table{
    width: 100%;
}

table, th, td  {
    border-bottom: 3px solid rgb(49, 109, 188);
    padding: 13px 75px;
    border-collapse: collapse;
    color: rgb(49, 109, 188);
}



footer{
    display: flex;
    background-color: rgb(49, 109, 188);
    color: #cef2ff;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}